# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
# .packages
.pub-cache/
.pub/
/build/

# Web related
lib/generated_plugin_registrant.dart

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json
google-services.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
# should be exluded as it contain a google API KEY.
index.html

# file containg sensitive information
# config.dart
firebase_options.dart
runner/**
# runner
# windows
passwords.yaml
package_config.json

pubspec.lock.yaml
pubspec_overrides.yaml
.packages
.flutter-plugins
generated_plugins.cmake
GeneratedPluginRegistrant.swift
generated_plugins.cmake
generated_plugin_registrant.h
generated_plugin_registrant.cc
generated_plugins.cmake
generated_plugin_registrant.h
generated_plugin_registrant.cc
/open-sources/money_formatter/example/.flutter-plugins-dependencies
/open-sources/money_formatter/example/.flutter-plugins-dependencies
/open-sources/flutter_list_drag_and_drop/example_drag/ios/Flutter/flutter_export_environment.sh
/open-sources/flutter_list_drag_and_drop/ios/Flutter/flutter_export_environment.sh
/open-sources/money_formatter/example/ios/Flutter/flutter_export_environment.sh
/open-sources/open_file/example/ios/Flutter/flutter_export_environment.sh
/open-sources/flutter_list_drag_and_drop/.dart_tool/package_config.json
/open-sources/flutter_list_drag_and_drop/.dart_tool/package_config_subset
/open-sources/cli_dialog/example/pubspec_overrides.yaml
/open-sources/cli_dialog/pubspec_overrides.yaml
/open-sources/dart_console/pubspec_overrides.yaml
/open-sources/dart_pdf/demo/pubspec_overrides.yaml
/open-sources/dart_pdf/printing/example/pubspec_overrides.yaml
/open-sources/dart_pdf/printing/pubspec_overrides.yaml
/open-sources/dart_pdf/test/pubspec_overrides.yaml
/open-sources/flutter_chat_ui/pubspec_overrides.yaml
/open-sources/flutter_datetime_picker/example/pubspec_overrides.yaml
/open-sources/flutter_file_picker/example/pubspec_overrides.yaml
/open-sources/flutter_file_picker/pubspec_overrides.yaml
/open-sources/flutter_list_drag_and_drop/example_drag/pubspec_overrides.yaml
/open-sources/flutter_slidable/example/pubspec_overrides.yaml
/open-sources/kds/pubspec_overrides.yaml
/open-sources/money_formatter/example/pubspec_overrides.yaml
/open-sources/msix/pubspec_overrides.yaml
/open-sources/open_file/example/pubspec_overrides.yaml
/open-sources/plus_plugins/packages/device_info_plus/device_info_plus/example/pubspec_overrides.yaml
/open-sources/plus_plugins/packages/device_info_plus/device_info_plus/pubspec_overrides.yaml
/open-sources/plus_plugins/packages/device_info_plus/device_info_plus_linux/pubspec_overrides.yaml
/open-sources/plus_plugins/packages/device_info_plus/device_info_plus_macos/pubspec_overrides.yaml
/open-sources/plus_plugins/packages/device_info_plus/device_info_plus_windows/pubspec_overrides.yaml
/open-sources/plus_plugins/packages/package_info_plus/package_info_plus/example/pubspec_overrides.yaml
/open-sources/plus_plugins/packages/package_info_plus/package_info_plus/pubspec_overrides.yaml
/open-sources/plus_plugins/packages/package_info_plus/package_info_plus_linux/pubspec_overrides.yaml
/open-sources/plus_plugins/packages/package_info_plus/package_info_plus_windows/pubspec_overrides.yaml
/open-sources/pubnub/acceptance_tests/pubspec_overrides.yaml
/open-sources/pubnub/pubnub_flutter/pubspec_overrides.yaml
/open-sources/qr.flutter/example/pubspec_overrides.yaml
/open-sources/qr_code_scanner/example/pubspec_overrides.yaml
/open-sources/upgrader/example/pubspec_overrides.yaml
/open-sources/upgrader/pubspec_overrides.yaml
/open-sources/win32/example/explorer/pubspec_overrides.yaml
/open-sources/win32/tool/generator/pubspec_overrides.yaml
/open-sources/flutter_list_drag_and_drop/.dart_tool/version
/open-sources/money_formatter/example/.flutter-plugins-dependencies
/open-sources/flutter_list_drag_and_drop/example_drag/ios/Flutter/flutter_export_environment.sh
/open-sources/flutter_list_drag_and_drop/ios/Flutter/flutter_export_environment.sh
/open-sources/money_formatter/example/ios/Flutter/flutter_export_environment.sh
/open-sources/open_file/example/ios/Flutter/flutter_export_environment.sh
/open-sources/flutter_list_drag_and_drop/.dart_tool/package_config.json
/open-sources/flutter_list_drag_and_drop/.dart_tool/package_config_subset
/open-sources/cli_dialog/example/pubspec_overrides.yaml
/open-sources/cli_dialog/pubspec_overrides.yaml
/open-sources/dart_console/pubspec_overrides.yaml
/open-sources/dart_pdf/demo/pubspec_overrides.yaml
/open-sources/dart_pdf/printing/example/pubspec_overrides.yaml
/open-sources/dart_pdf/printing/pubspec_overrides.yaml
/open-sources/dart_pdf/test/pubspec_overrides.yaml
/open-sources/flutter_chat_ui/pubspec_overrides.yaml
/open-sources/flutter_datetime_picker/example/pubspec_overrides.yaml
/open-sources/flutter_file_picker/example/pubspec_overrides.yaml
/open-sources/flutter_file_picker/pubspec_overrides.yaml
/open-sources/flutter_list_drag_and_drop/example_drag/pubspec_overrides.yaml
/open-sources/flutter_slidable/example/pubspec_overrides.yaml
/open-sources/kds/pubspec_overrides.yaml
/open-sources/money_formatter/example/pubspec_overrides.yaml
/open-sources/msix/pubspec_overrides.yaml
/open-sources/open_file/example/pubspec_overrides.yaml
/open-sources/plus_plugins/packages/device_info_plus/device_info_plus/example/pubspec_overrides.yaml
/open-sources/plus_plugins/packages/device_info_plus/device_info_plus/pubspec_overrides.yaml
/open-sources/plus_plugins/packages/device_info_plus/device_info_plus_linux/pubspec_overrides.yaml
/open-sources/plus_plugins/packages/device_info_plus/device_info_plus_macos/pubspec_overrides.yaml
/open-sources/plus_plugins/packages/device_info_plus/device_info_plus_windows/pubspec_overrides.yaml
/open-sources/plus_plugins/packages/package_info_plus/package_info_plus/example/pubspec_overrides.yaml
/open-sources/plus_plugins/packages/package_info_plus/package_info_plus/pubspec_overrides.yaml
/open-sources/plus_plugins/packages/package_info_plus/package_info_plus_linux/pubspec_overrides.yaml
/open-sources/plus_plugins/packages/package_info_plus/package_info_plus_windows/pubspec_overrides.yaml
/open-sources/pubnub/acceptance_tests/pubspec_overrides.yaml
/open-sources/pubnub/pubnub_flutter/pubspec_overrides.yaml
/open-sources/qr.flutter/example/pubspec_overrides.yaml
/open-sources/qr_code_scanner/example/pubspec_overrides.yaml
/open-sources/upgrader/example/pubspec_overrides.yaml
/open-sources/upgrader/pubspec_overrides.yaml
/open-sources/win32/example/explorer/pubspec_overrides.yaml
/open-sources/win32/tool/generator/pubspec_overrides.yaml
/open-sources/flutter_list_drag_and_drop/.dart_tool/version
/open-sources/money_formatter/example/.flutter-plugins-dependencies
/open-sources/flutter_list_drag_and_drop/example_drag/ios/Flutter/flutter_export_environment.sh
/open-sources/flutter_list_drag_and_drop/ios/Flutter/flutter_export_environment.sh
/open-sources/money_formatter/example/ios/Flutter/flutter_export_environment.sh
/open-sources/open_file/example/ios/Flutter/flutter_export_environment.sh
/open-sources/flutter_list_drag_and_drop/.dart_tool/package_config.json
/open-sources/flutter_list_drag_and_drop/.dart_tool/package_config_subset
/open-sources/cli_dialog/example/pubspec_overrides.yaml
/open-sources/cli_dialog/pubspec_overrides.yaml
/open-sources/dart_console/pubspec_overrides.yaml
/open-sources/dart_pdf/demo/pubspec_overrides.yaml
/open-sources/dart_pdf/printing/example/pubspec_overrides.yaml
/open-sources/dart_pdf/printing/pubspec_overrides.yaml
/open-sources/dart_pdf/test/pubspec_overrides.yaml
/open-sources/flutter_chat_ui/pubspec_overrides.yaml
/open-sources/flutter_datetime_picker/example/pubspec_overrides.yaml
/open-sources/flutter_file_picker/example/pubspec_overrides.yaml
/open-sources/flutter_file_picker/pubspec_overrides.yaml
/open-sources/flutter_list_drag_and_drop/example_drag/pubspec_overrides.yaml
/open-sources/flutter_slidable/example/pubspec_overrides.yaml
/open-sources/money_formatter/example/pubspec_overrides.yaml
/open-sources/msix/pubspec_overrides.yaml
/open-sources/open_file/example/pubspec_overrides.yaml
/open-sources/plus_plugins/packages/device_info_plus/device_info_plus/example/pubspec_overrides.yaml
/open-sources/plus_plugins/packages/device_info_plus/device_info_plus/pubspec_overrides.yaml
/open-sources/plus_plugins/packages/device_info_plus/device_info_plus_linux/pubspec_overrides.yaml
/open-sources/plus_plugins/packages/device_info_plus/device_info_plus_macos/pubspec_overrides.yaml
/open-sources/plus_plugins/packages/device_info_plus/device_info_plus_windows/pubspec_overrides.yaml
/open-sources/plus_plugins/packages/package_info_plus/package_info_plus/example/pubspec_overrides.yaml
/open-sources/plus_plugins/packages/package_info_plus/package_info_plus/pubspec_overrides.yaml
/open-sources/plus_plugins/packages/package_info_plus/package_info_plus_linux/pubspec_overrides.yaml
/open-sources/plus_plugins/packages/package_info_plus/package_info_plus_windows/pubspec_overrides.yaml
/open-sources/pubnub/acceptance_tests/pubspec_overrides.yaml
/open-sources/pubnub/pubnub_flutter/pubspec_overrides.yaml
/open-sources/qr.flutter/example/pubspec_overrides.yaml
/open-sources/qr_code_scanner/example/pubspec_overrides.yaml
/open-sources/upgrader/example/pubspec_overrides.yaml
/open-sources/upgrader/pubspec_overrides.yaml
/open-sources/win32/example/explorer/pubspec_overrides.yaml
/open-sources/win32/tool/generator/pubspec_overrides.yaml
/open-sources/flutter_list_drag_and_drop/.dart_tool/version
