[submodule "packages/firebase_auth"]
	path = packages/firebase_auth
	url = https://github.com/yegobox/firebase_auth.git
[submodule "packages/flutterfire_internal"]
	path = packages/flutterfire_internal
	url = https://github.com/yegobox/flutterfire_internal.git
[submodule "packages/firebase_ui_oauth"]
	path = packages/firebase_ui_oauth
	url = https://github.com/yegobox/firebase_ui_oauth.git
[submodule "packages/firebase_ui_auth"]
	path = packages/firebase_ui_auth
	url = https://github.com/yegobox/firebase_ui_auth.git
[submodule "packages/firebase_ui_oauth_google"]
	path = packages/firebase_ui_oauth_google
	url = https://github.com/yegobox/firebase_ui_oauth_google.git
[submodule "packages/firebase_dynamic_links"]
	path = packages/firebase_dynamic_links
	url = https://github.com/yegobox/firebase_dynamic_links.git
[submodule "packages/firebase_core"]
	path = packages/firebase_core
	url = https://github.com/yegobox/firebase_core.git
