service cloud.firestore {
  match /databases/{database}/documents {
    // Allow read/write access on all documents to anyone
    match /{document=**} {
      allow read, write: if true;
    }
  }
}