<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>455580464649-4ec34ssah18vlmv60ujssr4j6fcca8n9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.455580464649-4ec34ssah18vlmv60ujssr4j6fcca8n9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>455580464649-79bh7kgpakcdoc25g75b56nmhupu0n69.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBEQWa5FSPt1CYIvS7FAuMuQYTFViSWDSo</string>
	<key>GCM_SENDER_ID</key>
	<string>455580464649</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appbar</string>
	<key>PROJECT_ID</key>
	<string>demoapp-912ed</string>
	<key>STORAGE_BUCKET</key>
	<string>demoapp-912ed.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:455580464649:ios:05b7ab8d06fb98b6d6ead8</string>
</dict>
</plist>