name: flipper_chat
description: flipper models scaffold.
version: 0.0.1
author:
homepage:

environment:
  sdk: ">=2.12.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  flipper:
    path: '../..'
dev_dependencies:
  flutter_test:
    sdk: flutter
  