# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\demos\flipper\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
