name: Deploy to web
on:
  workflow_dispatch: # Enable manual run
  pull_request: #TODO:remove
  push:
    branches: [web]
    # Sequence of patterns matched against refs/tags
    # tags:
    # - 'v*' # Push events to matching v*, i.e. v1.0, v20.15.10

jobs:
  deploy-web:
    runs-on: ubuntu-18.04
    steps:
    # Set up Flutter.
    - name: Clone Flutter repository with master channel
      uses: subosito/flutter-action@master
      with:
        channel: master
    - run: flutter doctor -v

    - name: Install web dependencies
      uses: actions/setup-node@v1
      with:
        node-version: '14'
    - run: npm install -g firebase-tools

    # Checkout flipper code and get packages.
    - name: Checkout flipper code
      uses: actions/checkout@v2
    - run: flutter pub get

    - run: flutter build -v web --release

    - run: firebase deploy --only hosting
      env:
        FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}